body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*************************** 自定义 *************************************/
img {
  width:300px;
  height: 200px;
}

.table td{
  border: 1px solid;
  collapse: collapse;
}